body {
	font-family: "IBM Plex Sans";
	font-size: 16px;
	font-weight: 400;
	line-height: 1.5em;
	background-image: url(../images/bookshelf2.avif) ;
	background-size: contain;
	background-repeat: repeat;
}

.cards {
	display: flex;
	gap: 40px 20px;
	flex-wrap: wrap;
}

.card {
	background-image: url(../images/skyrim-paper.png); 
	background-size: contain;

	padding: 16px;
	border-radius: 7px;
	
	width: 285px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.card h2 {
	font-size: 28px;
	line-height: 32px;
	font-family: "IBM Plex Serif";
	margin-bottom: 12px;
	font-weight: 300;
	color: #714c03;
}

.card p {
	margin-bottom: 10px;
}

.card .actions {
	display: flex;
	gap: 8px;
	justify-content: flex-end;
}

.card .actions a {
	font-weight: 600;
	color: #412301;
	font-size: 13px;
	text-transform: uppercase;
}

.card .actions a:hover {
	color: #2c22df;
}

.card img {
	width: 100%;
	margin-bottom: 10px;
	object-fit: cover;
	border: 1px solid #412301;
	height: 340px;
}

.card.hidden {
	display:none;
}

.filters {
	background-color: rgb(41, 1, 1, 0.5);
	padding: 10px;
	display: flex;
	justify-content: flex-end;
}

.filters form {
	display: flex;
	gap: 15px;
	align-items: center;
	flex-direction: row;
}

.filters form label {
	font-size: 12px;
}

.filters form input {
	font-size: 12px;
	height: 30px;
	padding: 5px;
}

.filters form select {
	font-size: 12px;
	height: 30px;
	padding: 5px;
}

.filters form button {
	font-size: 13px;
	background-color: #413308;
	padding: 5px 10px;
	color: #ececec;
	border: 1px solid #ffd53c;
	border-radius: 5px;
}

.header {
	display: flex;
	align-items: center;
	justify-content: right;
}

.header h1 {
	margin-left: 400px;
	font-size: 50px;
	color: beige;
	font-family: 'Times New Roman', Times, serif;
}

.button {
	font-size: 13px;
	background-color: #412301;
	padding: 5px 10px;
	color: #ececec;
	border: 1px solid #47340b;
	border-radius: 5px;
}

.hCard {
	background-image: url(../images/skyrim-paper.png);
	background-repeat: no-repeat;
	background-size: cover;
	padding: 16px;
	border-radius: 7px;
	width: 800px;
	display: flex;
	gap: 20px;
	flex-direction: row;
	justify-content: space-between;
}

.hCard h2 {
	font-size: 36px;
	line-height: 45px;
	font-family: "IBM Plex Serif";
	margin-bottom: 12px;
	font-weight: 300;
	color: #846f03;
}

.hCard p {
	margin-bottom: 10px;
}

.hCard .actions {
	display: flex;
	gap: 8px;
	justify-content: flex-end;
}

.hCard .actions a {
	font-weight: 600;
	color: #28221a;
	font-size: 13px;
	text-transform: uppercase;
}

.hCard .actions a:hover {
	color: #2c22df;
}

.hCard img {
	width: 340px;
	margin-bottom: 10px;
	object-fit: cover;
	height: 340px;
	border-radius: 5px;
}

form {
	display: flex;
	flex-direction: column;
	gap: 20px;
	/* align-items: center; */
}

.input {
	display: flex;
	gap: 20px;
}

.input p {
	margin-top: 3px;
	color: red;
	font-size: 14px;
}

.input label.special {
	width: 108px;
	display: flex;
	justify-content: flex-end;
	color: #ffffff;
	font-weight: 900;
}

label{
	color: white;
}

.input-img{
	display: flex;
    gap: 20px;
	color: white;
}

h1 {
	color: white;
}

.error-summary {
    background-image: url(../images/very-old-paper-with-transparent-background-image-20.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    display: flex;
    justify-content: center;
    align-items: center;

   padding: 60px;
    border-radius: 8px;
}

.error-summary ul, strong {
	margin-left: 473px;
	font-size: 20px;
	line-height: 20px;
}